<section class="interests section">
	{{#if resume.interests.length}}
		<h2 class="section-title">Interests</h2>
			<div class="interests__container bd-grid">
				{{#each resume.interests}}
					<div class="interests__content">
						{{#if keywords.length}}
							{{#each keywords}}
								{{{.}}}
							{{/each}}
						{{/if}}
						{{#if name}}
							<spam class="interests__name">
								{{name}}
							</spam>
						{{/if}}
					</div>
				{{/each}}
			</div>
	{{/if}}
</section>

