<section class="languages section" id="languages">
	{{#if resume.languages.length}}
		<h2 class="section-title">Languages</h2>
		<div class="languages__container">
			<ul class="languages__content bd-grid">
				{{#each resume.languages}}
					{{#if language}}
						<li class="languages__name">
							<spam class="languages__circle"></spam>{{language}}
							{{#if fluency}}
								-<span class="fluency"><em>{{fluency}}</em></span>
							{{/if}}
						</li>
					{{/if}}
				{{/each}}
			</ul>
		</div>
	{{/if}}
</section>
