<section class="skills section" id="skills">
	<h2 class="section-title">COMPÉTENCES</h2>
	<div class="skills__content bd-grid">
		{{#if resume.skills.length}}
			{{#each resume.skills}}

						<ul class="skills__data">
							<h3>
								{{name}}
							</h3>
							<span>
								{{level}}
							</span> 
							{{#if keywords.length}}
								{{#each keywords}}
									<li class="skills__name">
										<spam class="skills__circle"></spam>{{.}}
									</li>
								{{/each}}
							{{/if}}
						</ul>
			{{/each}}
		{{/if}}
	</div>
</section>